body {
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 0;

	min-height: 100vh;

	background-color: #fefdff;

	--header-height: 100px;
	--footer-height: 332px;

}

.container {
	width: 100%;
	max-width: 1440px;
}

.header {
	display: flex;
  justify-content: space-between;
  align-items: center;

	height: var(--header-height);
}

.logo {
	display: inline;
	margin: 16px 0 16px 120px;
}

.nav {
	font-size: 20px;
	font-style: normal;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	line-height: 150%;
}

.nav-link {
	margin: 35px 32px 35px 0;

	text-decoration: none;
	color: #15343A;
}

.authentication {
	margin-right: 120px;
}

.login {
	display: inline;
	text-align: center;
	margin: 38px 16px;

	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	text-decoration-line: underline;
	color: #15343A;
}

.btn {
	display: inline;	
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 180px;
	height: 56px;

	margin: 18px 0 18px 0;
	padding: 16px;

	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;

	border-radius: var(--components, 8px);
	border: 2px solid var(--brand-purple-400---main, #6444F4);
	
	background-color: #fefdff;

	cursor: pointer;
}

.button-link {
	text-decoration: none;
}

.content {
	margin: 88px 0 0 120px;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.hero-image {
	height: 760px;

  background-image: url("./images/hero-image.png");
  background-position: right;
  background-repeat: no-repeat;
}

.hero-text {
	width: 879px;
	height: 174px;

	font-family: 'Nunito', sans-serif;	
	font-size: 64px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.text {
	width: 331px;
	height: 90px;

	margin-top: 32px;

	color: #15343A;

	font-family: 'Nunito', sans-serif;	
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.hero-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 282px;
	height: 56px;
	margin-top: 40px;
	gap: 8px;

	font-family: 'Nunito', sans-serif;	
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px; 
	text-transform: uppercase;

	border: none;
	border-radius: 8px;

	background: #6444F4;
	color: #FEFDFF;

	cursor: pointer;
}

.footer {
	display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--footer-height);

  line-height: 1;

	background-color: #FEFDFF;
}

.footer-nav {
  display: inline;

  margin-left: 120px;

  font-size: 20px;
  font-style: normal;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  line-height: 150%;
}

.footer-logo {
  position: relative;
  display: inline;

  margin-right: 182px;
}

.terms {
  position: absolute;
  left: -100px;
  top: 86px;

  width: 384px;

  text-align: center;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #94A3B8;
}

.terms-link {
	text-decoration: none;

	color: #94A3B8;
}

.contacts {
	position: relative;

  margin-right: 104px;
}

.social-network {
  margin: 0 16px;

  text-decoration: none;
}

.email {
  position: absolute;
  top: 50px; 
  right: 0px;

  margin-right: 16px;

  text-align: right;

  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #15343A;
  text-decoration: none;
}
